.app-conatiner {
  display: flex;
  justify-content: center;
}
.gallery-conatiner {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 1140px;
}
.selected-image {
  border-radius: 18px;
}
.heading {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
}
.description {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
}
.thumbnails-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}
